<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fruitsman.prexerk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tunine"></activity>
        <activity android:name=".Tueight" />
        <activity android:name=".Tuseven" />
        <activity android:name=".Tusix" />
        <activity android:name=".Tufive" />
        <activity android:name=".Tufour" />
        <activity android:name=".Tuthree" />
        <activity android:name=".Tutwo" />
        <activity android:name=".TuOne" />
        <activity android:name=".RouDetail" />
        <activity android:name=".Plus_R" />
        <activity android:name=".Plus_D" />
        <activity android:name=".CameraGet" />
        <activity android:name=".Plus_K" />
        <activity android:name=".SeleRou" />
        <activity android:name=".SettingRou" />
        <activity android:name=".SettingDy" />
        <activity android:name=".SettingSta" />
        <activity android:name=".VoiceSetting" />
        <activity android:name=".ExKeepActivity" />
        <activity android:name=".StaActivity" />
        <activity android:name=".ExActivity" />
        <activity android:name=".DataActivity" />
        <activity android:name=".ConveActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".CommuActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>